
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <title>Buenos Aires</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <h1>Conocé Buenos Aires</h1>
 
    <h3>Alojamiento</h3>
      
    
    <div class="container">
    <div class="pic-container">
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">

            <p>
                Caja 1
                <br>
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 2
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 3
            </p>
        </div>



        <h3>Que hacer</h3>

    <div class="pic-container">
        <div class="pic-item">
            <img src="/public/images/obelisco.jpg" alt="Imagen del producto">

            <p>
                Caja 4
                <br>
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 5
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 6
            </p>
        </div>
    </div>

</main>
    <footer>  <%- include('../partials/footer.ejs') %></footer>
</body>
</html>



<!--        <h3>Pasajes</h3>

        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 4
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 5
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 6
            </p>
        </div>
        <h3> Que hacer</h3>


        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 7
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 8
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 9
            </p>
        </div>
     
    </div>-->