
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/products.css">
    <title>Buenos Aires</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <div class="container">
        <h1>Conocé Buenos Aires</h1>
    

    <h3>Alojamiento</h3>

    <div class="pic-container">
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">

            <p>
                Caja 1<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident hic, consequatur officia totam, numquam impedit molestiae eum quo ea tenetur ipsum blanditiis sit, nesciunt iusto! Rerum voluptatum sint aperiam. Obcaecati?
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 2
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 3
            </p>
        </div>
<br>
        <h3>Pasajes</h3>

        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 4
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 5
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 6
            </p>
        </div>
        <h3> Que hacer</h3>


        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 7
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 8
            </p>
        </div>
        <div class="pic-item">
            <img src="img/product-bg.jpeg" alt="Imagen del producto">
            <p>
                Caja 9
            </p>
        </div>
        </div>
     
    </div>
    <footer>  <%- include('../partials/footer.ejs') %></footer>
</body>
</html>