<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/carrito.css">
<head>
    <%- include('../partials/head.ejs') %>
</head>

    <body>
        <header class="header">
        <%- include('../partials/header.ejs') %>
        </header>

<main>

    <div class="container">
        <div> 
            <h2 style="font-size: 50px;"> Hagamos la reserva!</h2>
            <hr>
            <h3 style="font-size: 35px"> Chequea que todo este correcto!</h3>
                
            <p class= "compra" style= "font-size: 25px">  Reservá solo con tu tarjeta de crédito</p>
            <br>
            <div class ="methods" style="font-size: 35px; text-align: center;"> 
                <a class="fab fa-cc-mastercard"> </a>
                <a class="fab fa-cc-paypal"> </a>
                <a class="fab fa-cc-amex"> </a>
                <a class="fab fa-cc-visa"> </a>
            </div>
        </div> 
        <br>
  <hr>
        <div class= "resumen">
            <h2> Resumen de tus reservas</h2>
                            
           <div class ="detail">
            <p>
                <ul>
                    <li> <a href ="#"> Item 1 </a><p>Descripción</p></li>
                    <li> <a href ="#"> Item 2 </a><p>Descripción</p></li>
                    <li> <a href ="#"> Item 3 </a><p>Descripción</p></li>
                    <li> <a href ="#"> Item 4 </a><p>Descripción</p></li>
                </ul>
            </p>
        </div>
        <div class ="boton-borrar" style="font-size: 35px; text-align: center;"><input type="submit" value="Vaciar carrito"></div>
        <br>
        
    </div>

<hr>  <br>
    
<%- include('../partials/cotizacion.ejs') %>
<hr>

    <section class="payment">
        <div class="payment">
            <div class="superior">
                <h2>Pago (solo con tarjeta de credito)</h2>
            </div>

            <form action="Pagar" method="POST">
                <div class="tarjeta">
                     <label for="numero-tarj"><i class="fas fa-credit-card"> Numero de tarjeta:</i> </label>
                     <input type="text" name="numero-tarj" id="numero-tarj" placeholder="XXXX XXXX XXXX XXXX">
                </div>

                <div class="nombre-tarj">
                     <label for="nombre-tarj"><i class="fas fa-user"></i> Nombre como aparece en la tarjeta:</label>
                     <input type="text" name="nombre-tarj" id="nombre-tarj" placeholder="">
                </div>

                <div class="codigo">
                    <label for="clave"><i class="fas fa-key"></i> Codigo de seguridad:</label>
                    <input type="password" name="clave" id="clave" placeholder="">
               </div>

               <div class="fecha">
                <label for="fecha"><i class="fas fa-calendar-alt"></i> Fecha de vencimiento:</label>
                <input type="date" name="fecha" id="fecha" placeholder="">
            </div>

                <div class="boton">
                    <div class ="confirmar"><input type="submit" value="Confirmar"></div>
                </div>
                </form>
            </div>
        </div>
        </div>
    </div>
    </section>
<br>
</main>
    <footer>
  <%- include('../partials/footer.ejs') %>
    </footer>
    

</body>
</html>