<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
     
<h3 class="color-h3">CREAR PAQUETE</h3>
<ul>
    <li>
        <a href=""> CREAR PAQUETE</a>
    </li>
    <li>
        <a href=""> VER PAQUETES</a>
    </li>
</ul>

      <!--primer box de fotos -->
    <div class="container1">
    <div class="pic-container1">



</main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>