<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
     
<h3>CREAR PAQUETE</h3>

        <a href=""> CREAR PAQUETE</a>
        <form action="/crear" method="POST"> 
        <div>
            <label for="">Paquete</label>
            <input type="text" name="paquete">
        </div>
        <div>
            <label for="">IMAGEN</label>
            <input type="img" name="image">
        </div>
        <div>
            <label for="">Descripcion</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="price">
        </div>
        <div>
  
            </form>


</main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>