<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
     
<h3>CREAR PAQUETE</h3>

        <form action="/crear" method="POST" enctype="multipart/form-data"> 
        <div>
            <label for="">Titulo</label>
            <input type="text" name="title">
        </div>
       
        <div>
            <label for="">Imagen</label>
            <input type="file" name="image" id="image">
        </div>
        <div>
            <label for="">Descripción</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="price">
        </div>

        <div>
      <!--       <div class="field">
                <div class="control">
                    <input type="submit" value="Crear paquete">
                </div>
            </div>  -->
           <div class="button">
            <button class= btn sm btn-pink-outline>
                <a href="/lista">CREAR</a>
            </button>
        </div>

            </form>
            <br>


</main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>
