<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>

        <ul>    
            <li>
                <a href="../products/crear.ejs"> Crear paquete </a>
            </li>
        </ul>
        <ul>   
            <% for (let i = 0; i<Product.length; i++) { %>
                <li>
                    <%=Product[i].name %>
                </li>

          <%  } %>

        </ul>




<!--ACA PODRIA IR  LO DE DETAIL -->
       






    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>