@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    box-sizing: border-box;
    }

    body{
        background: #f9f9f9;
        font-size: 20px;
        
      }

.container{
   padding: 1em 0;
  float: center;
  width: 50%;
  
}

.nombre{
        font-size: 30px;
        background-color: lightslategray;
        height: 50px;
        padding: 10px 20px;
        color: white;
     
    }

.products{
   /*   background-color: cornflowerblue;*/
   /*  padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    max-width: 1198px;
    margin: 0 auto; */
}

