* { box-sizing: border-box; }

.pic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: flex-end;
    align-content: flex-end; */
    /*flex-direction: column;*/

    /*background-color: lightblue;*/

    /* height: 800px; */
    margin: 0 -.5rem;
}

.pic-item {
    width: calc(100% - 1rem);
    /* height: 100px; */

    background-color:rgb(139, 186, 248);
    margin-right: .5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;
}

.pic-item img { width: 100%; }

@media (min-width: 600px) {
    .pic-item {
        width: calc(50% - 1rem);
    }
}


@media (min-width: 900px) {
    .pic-item {
        width: calc(33.3333% - 1rem);
    }
}


@media (min-width: 1200px) {
    .pic-item {
        width: calc(25% - 1rem);
    }
}