<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <section class="hero"> <!-- Este lo uso para el fondo -->
            <div class="hero-item">
                <!--<img src="img/hero-bg.jpeg" alt="Imagen del producto">-->
                <div class="container">
                    <div class="hero-desc">
                        <h1>Viajá por Argentina</h1>
                        <h3>Elegí tu próximo destino WITH US!</h3>

                        <div class="contenido-textos">

                        <!--lista de provincias -->            
                            <p>Choose here! </p>
                            <select name="lista-provincia">
                    
                                <option value="Ciudad Autonoma de Buenos Aires">Ciudad Autonoma de Buenos Aires</option> 
                                <option value="Buenos Aires">Buenos Aires</option> 
                                <option value="Catamarca">Catamarca</option>
                                <option value="Chaco">Chaco</option>
                                <option value="Chubut">Chubut</option>
                                <option value="Córdoba">Córdoba</option>
                                <option value="Corrientes">Corrientes</option>
                                <option value="Entre Ríos">Entre Ríos</option>
                                <option value="Formosa">Formosa</option>
                                <option value="Jujuy">Jujuy</option>
                                <option value="La Pampa">La Pampa</option>
                                <option value="La Rioja">La Rioja</option>
                                <option value="Mendoza">Mendoza</option>
                                <option value="Misiones">Misiones</option>
                                <option value="Neuquén">Neuquén</option>
                                <option value="Rio Negro">Rio Negro</option>
                                <option value="Salta">Salta</option>
                                <option value="Tucumán">Tucumán</option>
                            </select>

                        </div>
        <!--espacio para separar de la barra de busqueda las imgs-->

                        <br>

        <!--GALERIA DE FOTOS - -->
        <section class="nuevo">
            <div class="contenedor">
         <div class="imagen-nuevo">
            <img src="../images/bsas.jpg" alt="buenos aires" width="350px">
            <div class="hover-galeria">
                <p>Buenos Aires</p>
                <p>Ver detalle</p>
           </div>
                    </div>
         <div class="imagen-nuevo">
            <img src="../images/misiones.jpg" alt="misiones" width="350px">
            <div class="hover-galeria">
                            <p>Misiones</p>
                            <p>Ver detalle</p>
                            
                        </div>
                    </div>




                </div>
            </div>
        </section>
    </main>
    <footer>
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>