<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <section class="hero"> <!-- Este lo uso para el fondo -->
            <div class="hero-item">
                <!--<img src="img/hero-bg.jpeg" alt="Imagen del producto">-->
                <div class="container">
                    <div class="hero-desc">
                        <h2>Contrar치 lo mejor de lo mejor para tus proyectos</h2>
                        <p>Millones de personas usan GratisLancer para hacer sus sue침os realidad</p>
                        <div class="hero-actions">
                            <a href="#">Contr치t치 un GratisLancer</a>
                            <a href="#">Hacete millonario/a</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>