<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>turisteando</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-right">
                <a href="#"><span class="logo">turistANDO</span></a>
                <nav>
                    <a href="#">Cómo funciona</a>
                    <a href="#">Conseguí laburo</a>
                </nav>
            </div>
            <div class="header-left">
                <nav>
                    <a href="/src/views/login.html">Ingresá</a>
                    <a href="/src/views/register.html">Registrate</a>
                    <a href="#">Creá un proyecto</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="hero"> <!-- Este lo uso para el fondo -->
            <div class="hero-item">
                <!--<img src="img/hero-bg.jpeg" alt="Imagen del producto">-->
                <div class="container">
                    <div class="hero-desc">
                        <h2>Contrará lo mejor de lo mejor para tus proyectos</h2>
                        <p>Millones de personas usan GratisLancer para hacer sus sueños realidad</p>
                        <div class="hero-actions">
                            <a href="#">Contrátá un GratisLancer</a>
                            <a href="#">Hacete millonario/a</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>