<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/seccion.css">
  
    
</head>
<body>

        <%- include('partials/header.ejs') %>

        <hr>
       
        <main>


            <h1 class="admin"> SECCIÓN ADMINISTRADOR </h1>
            <p class="admintext">From this section you can manage your account</p>
         <div>
            <nav class="content-secction">
                <ul>
                    <li><a href="/lista">ADMINISTRAS PAQUETES </a> </li>
                 <br>
                    <li><a href="/userList">ADMINISTRAR USUARIOS</a> </li>
                </ul>
            </nav>
          </div>
      
        </main>

     
 
    <%- include('partials/footer.ejs') %>

</body>
</html>