<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/products.css">
</head>
<body>

    <%- include('partials/header.ejs') %>
    <main>
        <ul>
   
       <li> <a href="/index-admin">Sección para administradores</a></ul>
        <li><a href="/user/2"> Tu perfil de usuario </a> </li>
        </ul>
        <h2> Turisteando es la pagina que estabas buscando para empezar tus vacaciones por Argentina </h2>
        <div class="pic-container1">
        <ul>
            <li><a href="/user/2"> Bienvenido: viajer@ / name ! - que el el name se pase cuando se haga el login / viajero si no esta registrado</a> </li>
            <li><a href="/logout">Cerra sesión </li>
        </ul>
    </div>
    <h3 class="color-h3">Elegi tu próximo destino</h3>

        <br>
    <div class="container"> <!-- que la pagina este en containter-->
    <div class="pic-container1"> <!-- que las paquetes esten en fila-->
  
    <!--PAQUETE1-->
        <div class="pic-item">
            <img src="/images/barilo2.jpg" alt="picture">
            <div class="button">
                <button class= btn sm btn-pink-outline>
                    <a href="/lista/1">+INFO</a>
                </button>
            </div>
            <p>
               <nav><a href="/lista/1">Patagonia en verano</a></nav> 
            </p>
            <div class="card-text">
                <p>Recorré el sur con nosotros, te mostramos los mejores paisajes y actividades.</p>
            </div>
            <div class="price">
                <p>$50.990</p>
            </div>
        </div>

    <!--PAQUETE2-->
        <div class="pic-item">
            <img src="/images/norte2.jpg" alt="picture">
            <div class="button">
                <button class= btn sm btn-pink-outline>
                    <a href="/lista/2">+INFO</a>
                </button>
            </div>
               <p>
                    <nav><a href="/lista/2">Recorriendo el norte: Jujuy 360°</a></nav> 
                </p>
                <div class="card-text">
                    <p>Conocé todos los pasiajes del norte y sus atracciones.</p>
                </div>
                <div class="price">
                    <p>$40.500</p>
                </div>
        </div>

    <!--PAQUETE3-->
        <div class="pic-item">
            <img src="images/vino2.jpg" alt="picture">
            <div class="button">
                <button class= btn sm btn-pink-outline>
                    <a href="/lista/3">+INFO</a>
                </button>
            </div>
            <p>
                <nav><a href="/lista/3">La ruta del vino en mendoza</a></nav> 
            </p>
            <div class="card-text">
                <p>Conocé las mejores bodegas de la región</p>
            </div>
            <div class="price">
                <p>$52.990</p>
            </div>
        </div>
        
    </div>
    </div>
     

        <!-- PARTE CON BD -->
        
        

  
</main>

    <footer>
    <%- include('partials/footer.ejs') %>
</footer>
</body>
</html>