<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/products.css">
</head>
<body>

        <%- include('partials/header.ejs') %>

        <!-- SECCION ADMINISTRADOR -->
        <hr>
        <h2> Sección administrador </h2>
        <ul>
            <li><a href="/admin/lista">Administrar paquetes </a> </li>
            
            <li><a href="/userList">Administrar usuarios</a> </li>
        </ul>
        <hr>


    <main>
  
</main>

    
    <%- include('partials/footer.ejs') %>

</body>
</html>