

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <h1>Gracias por registrarte</h1>
    <%- include('partials/footer.ejs') %>
</body>
</html>