    <footer>
    
        <ul class="footer" >
          <li>
            <a href="#0">
              Quienes Somos
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
            </a>
          </li>
          <li>
            <a href="#0">
              Preguntas frecuentes
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
              
            </a>
          </li>
          <li>
            <a href="#0">
              Ayuda
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
            </a>
          </li>
          <li>
            <a href="#0">
              Metodos de pago
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
            </a>
          </li>
        </ul>
          <a>Copyright © 1999-2021 TURISTEANDO S.A. </a>
        </div>
        
        </footer>