<head>

  <meta charset="UTF-8">
      <title>TuristANDO</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        
</head>
    <footer>
    
        <ul class="footer" >
          <li>
            <a href="#0">
              Quienes Somos
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
            </a>
          </li>
          <li>
            <a href="#0">
              Preguntas frecuentes
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
              
            </a>
          </li>
          <li>
            <a href="#0">
              Ayuda
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
            </a>
          </li>
          <li>
            <a href="#0">
              Metodos de pago
              <span class="border border-top"></span>
              <span class="border border-bottom"></span>
            </a>
          </li>
        </ul>
          <a>Copyright © 1999-2021 TURISTEANDO S.A. </a>
        </div>
        
        </footer>