<head>

  <meta charset="UTF-8">
      <title>TuristANDO</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        
</head>

<header>
    <div class="container">
      <div class="header-left">
          <a href="#"><span class="logo">Publicá tu anuncio</span></a>
          <nav>
            <a href="#">Turisteando</a>
          </nav>
      </div>
      <div class="header-center">
        <img src="../../images/gif fondo blanco.gif" alt="logo">
      </div>
      <div class="header-right">
          <nav>
              <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fas fa-envelope"></i></a>
              
          </nav>
      </div>
    </div>
    <div class="menu">
      <nav >
        <a href="/login">Ingresá</a>
        <span class="separador">|
        <a href="/registro"> Registrate </a>
      </nav>
    </div>
  </header>