
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <h1>Seccion restringida</h1>


    <footer>
        <%- include('../partials/footer.ejs') %>
        </footer>
        </body>
        </html>