<!DOCTYPE html>
<html lang="en">
<head>  
    <%- include('../partials/head.ejs') %>
</head>

<header> 
    <%- include('../partials/header.ejs') %>  
</header>

<body>
    <div class="container">
<section >
    <!-- login div -->
<div class="login">
    <!-- login header -->
    
      <h1 id="header">Ingresá con tu nombre y contraseña</h1>
      <form id="form" action="/login" method="POST">
        <div class="nombreUsuario">
             <label for="nombre"><i class="fas fa-user">Nombre Usuario:</i> </label>
             <input type="text" name="nombre-usuario" id="nombre" placeholder="Ingrese nombre de usuario aquí">
        </div>
        <div class="contraseñaUsuario">
             <label for="clave"><i class="fas fa-key"></i> Contraseña:</label>
             <input type="password" name="clave" id="clave" placeholder="Ingrese su contraseña aquí">
        </div>

        <div class="user-type">
            <p>Perfil de usuario:</p>
            <label>
                <input type="checkbox" name="user-type" id="user-type-traveller" value="traveller"> Viajero
            </label>
            <label>
                <input type="checkbox" name="user-type" id="user-type-admin" value="admin" > Administrador
            </label>
            <div class="row">
                <input type="submit" value="Ingresa" >
            </div>
            </div>
        </div>
        
</section>

    <footer>
         <%- include('../partials/footer.ejs') %>
    </footer>
   
</body>
</html>