
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="container">
        <div class="register-form">
            <form action="exito.html" method="POST">

            <section>
                <div class="login register">
               
                  <h1 id="header">Registrate gratis</h1>
                  <div class="registro">
                    <form action="register.html" method="POST" enctype="multipart/form-data">
                    <div class="nombreUsuario">
                         <label for="nombre"> <i><fas fa-user-alt></fas>Nombre:</i> </label>
                         <input type="text" name="Usuario" id="nombre" placeholder="Ingrese aquí su nombre completo">
                    </div>
                    <div class="apellidoUsuario">
                        <label for="apellido"> <i><fas fa-user-alt></fas>Apellido:</i> </label>
                        <input type="text" name="Usuario" id="apellido" placeholder="Ingrese aquí su apellido">
                   </div>
                   <div class="usuario">
                    <label for="usuario"><i class="fas fa-user"> Email:</i> </label>
                    <input type="text" name="Usuario" id="usuario" placeholder="Tu email será tu nombre de usuario">
                   </div>
                    <div class="contraseñaUsuario">
                         <label for="clave"> <i class="fas fa-key"></i> Contraseña:</label>
                         <input type="password" name="clave" id="clave" placeholder=" Ingrese aquí su Contraseña">
                    </div>
                
                <div class="row">
                    <label for="country">País</label>
                    <select name="country" id="country" required>
                        <option value="">Selecciona un país</option>
                        <option value="arg">Argentina</option>
                        <option value="chi">Chile</option>
                        <option value="bra">Brasil</option>
                        <option value="col">Colombia</option>
                        <option value="uru">Uruguay</option>
                        <option value="par">Paraguay</option>

                    </select>
                </div>
                
                <div class="row">
                    <button type="submit">Enviar</button>
                </div>
                
            </section>
         

                
            </form>
        </div>
        <hr>
    </div>
 
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>